html {
    height: 100%;
}
body{
    height:100%;
}
.header{
width:100%;
height:20%;
overflow: auto;
}
.main{
width:100%;
height:70%;
overflow: auto;
}
.footer{
    height:10%;
    overflow: auto;

}



.container1{
    width:90%;
    height:65% ;
}
.container{
    width:90%;
    height:35%;
}

.mypage{
    color:black !important;
}
/* ._1g6V3.broker,._1g6V3.commissions,._1g6V3.promotion,._1g6V3.accountMinimum,._1g6V3.learnMore._3cxan{
    color:black !important;
} */
._39yeK,._39yeKm,._3HdHt{
    color:black !important;
    /* background-color:#BABABA !important; */
}


p,h2,th{
    color:black;
}